.bio {
    .jump {
        font-size: 1.25rem;
        text-indent: 2rem each-line;


        br {
            margin-bottom: 1rem;
        }

    }
}

.logo {
    margin: auto;
    width: 75%;
}

.albums {
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    .album {
        display: flex;
        justify-content: center;
        max-width: 30%;

        img {
            cursor: pointer;
            width: 100%;
        }
    }

    .deactivated {
        display: none;
    }



    .albumInfo {
        display: none;
    }

    .activated {
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 40%;
        }

        .albumInfo {
            width: 60%;
            position: relative;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            margin: 2rem;
            padding: 2rem;
            border: 2px solid var(--color-3);
            border-radius: 5px;
            gap: 1rem;

            .exit {
                position: absolute;
                top: 0.25rem;
                right: 0.25rem;
                font-family: VHS Gothic;
                color: var(--color-4);
                cursor: pointer;
            }

            .listenToIt {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;


                svg {
                    height: 2rem;
                }

                path {
                    stroke: var(--color-4);
                }
            }

            h3 {
                font-family: VHS Gothic;
                font-size: 1.5rem;
                color: var(--color-4);
                margin-bottom: 1rem;
            }

            p {
                font-size: 1rem;
            }


        }


    }
}