.hexbutton {
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    aspect-ratio: 20/3;
    position: relative;

    p {
        font-family: VHS Gothic;
        font-size: 1.25rem;
    }
    svg {
        height: 1.25rem;
    }
    clip-path: polygon(100% 50%, 94% 100%, 6% 100%, 0% 50%, 6% 0%, 94% 0%);
    &--full {
        

        &--1 {
            background-color: var(--color-3);

            p {
                color: var(--color-4);
            }

            svg path {
                stroke: var(--color-4);
            }
        }

        &--2 {
            background-color: var(--color-4);

            p {
                color: var(--color-3) !important;
            }

            svg path {
                stroke: var(--color-3);
            }
        }
    }

    &--outline {
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background-color: var(--color-3);
            clip-path: polygon(100% 50%, 94% 100%, 6% 100%, 0% 50%, 6% 0%, 94% 0%, 100% 50%,
                    calc(94% - 1px) calc(0% - -3.2px),
                    calc(6% - -1px) calc(0% - -3.2px),
                    calc(0% - -4px) calc(50% - 0px),
                    calc(6% - -1px) calc(100% - 3.2px),
                    calc(94% - 1px) calc(100% - 3.2px),
                    calc(100% - 4px) calc(50% - 0px),
                    calc(94% - 1px) calc(0% - -3.2px));
        }
        p {
            color: var(--color-3);
        }
    }
    
    &--outline--full {
        background-color: var(--color-1);
        padding: 0.5rem 2rem;
        width: 10rem;
        
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background-color: var(--color-2);
            clip-path: polygon(100% 50%, 94% 100%, 6% 100%, 0% 50%, 6% 0%, 94% 0%, 100% 50%,
                    calc(94% - 1px) calc(0% - -3.2px),
                    calc(6% - -1px) calc(0% - -3.2px),
                    calc(0% - -4px) calc(50% - 0px),
                    calc(6% - -1px) calc(100% - 3.2px),
                    calc(94% - 1px) calc(100% - 3.2px),
                    calc(100% - 4px) calc(50% - 0px),
                    calc(94% - 1px) calc(0% - -3.2px));
        }
        p {
            color: var(--color-3);
        }
    }

    &--tour {
        width: 300px;
    }
}
