.socials {
    position: fixed;
    bottom: 1rem;
    left: 1.5rem;

    a {
        margin: 0.25rem;
        padding: 0;
    }

    svg {
        height: 32px;
        margin: 0;

        path {
            stroke: var(--color-4);
        }
    }

    .youtube:hover path {
        stroke: #FF0000;
    }

    .facebook:hover path {
        stroke: #3b5998;
    }

    .instagram:hover path {
        stroke: #DD2A7B;
    }

    .spotify:hover path {
        stroke: #1ED760;
    }

    .mail:hover path {
        stroke: coral;
    }
}