.tour {
    .select {
        display: flex;
        justify-content: center;
        gap: 2rem;

        button {
            font-family: VHS Gothic;
            font-size: 2rem;
            color: #808080;
            background: none;border: none;
            
            &:hover {
                cursor: pointer;
            }
        }

        .active {
            color: var(--color-2);

            &::before {
                content: '>';
            }

        }
    }
}


.datesList {
    display: flex;
    justify-content: space-between;
    width: 95%;
    background-color: var(--color-1-trans);
    border: 2px solid var(--color-2);
    border-radius: 6px;
    text-decoration: none;
    padding: 1rem;
    margin: 0.5rem;
    gap: 1rem;

    .details {
        display: flex;
        flex-direction: column;
        color: var(--color-4);
        padding-left: 2rem;

        .date {
            font-family: VHS Gothic;
            font-size: 1.5rem;
        }

        .venue, .lineup {
            font-family: Nova Flat;
        }

        .venue {
            font-size: 1.5rem;
            padding: 1rem 1rem;
        }

        .lineup {
            font-size: 1rem;
        }

    }

    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
        margin-right: 2rem;
    }
}