@use "reset";
@use "palette";
@use "options";
@use "socials";
@use "homepage";
@use "contact";
@use "tour";
@use "hexbutton";
@use "bio";

@font-face {
    font-family: 'VHS Gothic';
    src: url('../fonts/VHSGothic.woff2') format('woff2'),
        url('../fonts/VHSGothic.woff') format('woff'),
        url('../fonts/VHSGothic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Nova Flat';
    src: url('../fonts/NovaFlat.woff2') format('woff2'),
        url('../fonts/NovaFlat.woff') format('woff'),
        url('../fonts/NovaFlat.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.color-3 {
    color: var(--color-3);
}

.dashed {
    text-decoration: underline;
}

.page {
    position: relative;
    background-image: var(--background-gradient), var(--background-image);
    background-position: 50% 0%;
    padding: 3rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    clip-path: polygon(0 40px,40px 0,calc(100% - 40px) 0,100% 40px,100% 100%,0 100%);

    h1, h2 {
        font-family: VHS Gothic;
        font-size: 2rem;
        color: var(--color-4);
    }

    p {
        font-family: Nova Flat;
        color: var(--color-4);
    }
}

.page::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--color-2);
    clip-path: polygon(0 40px,40px 0,calc(100% - 40px) 0,100% 40px,100% 100%,0 100%,0 40px,5px  calc(40px + 2.07px),5px calc(100% - 5px),calc(100% - 5px) calc(100% - 5px),calc(100% - 5px) calc(40px + 2.07px),calc(100% - 40px - 2.07px) 5px,calc(40px + 2.07px) 5px,5px calc(40px + 2.07px));
}