.options {
    font-family: VHS Gothic;
}

.options.opener {
    background-color: var(--color-2);
    position: fixed;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
    z-index: 9;

    p {
        color: var(--color-1);
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }
}

.options.menu {
    z-index: 10;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(var(--color-1-trans), var(--color-1-trans)), url(../images/options/background-zombies.png);
    background-position: center;
    background-size: cover;
    width: 998px;
    height: 560px;
    min-width: 84vw;
    min-height: 94vh;
    overflow: clip;
    position: fixed;
    left: 50%;
    top: 50%;
    border: 4px solid var(--color-2);
    box-sizing: border-box;
    color: var(--color-4);
    font-size: 1.25rem;
    transform: translate(-50%, -50%);

    .cross {
        position: absolute;
        top: 0.25rem;
        right: 0.5rem;
        cursor: pointer;
        color: var(--color-4);
    }

    .encadre {
        background-color: var(--color-2);
        top: 1rem;
        right: 1.5rem;

        p {
            color: var(--color-1);
            padding: 0.5rem 2.5rem;
        }
    }

    .choices {
        display: flex;
        flex-direction: column;
        width: 75%;
        height: 45%;
        justify-content: space-evenly;

        .choice {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            button {
                font-family: VHS Gothic;
                font-size: 1.25rem;
                padding: 0.25rem 1rem;

                &:hover {
                    cursor: pointer;
                }

                &:first-child {
                    position: absolute;
                    left: 10%;
                    transform: translateX(-50%);
                }

                &:last-child {
                    position: absolute;
                    right: 10%;
                    transform: translateX(50%);
                }
            }

            .bar {
                position: absolute;
                box-sizing: border-box;
                left: 50%;
                top: 50%;
                transform: translate(-100%, -50%);
                width: 40%;
                border: 2px solid var(--color-2);
                z-index: -1;
            }
        }

        button:first-child,
        .on button:last-child {
            border: 3px solid var(--color-2);
            background-color: var(--color-1);
            color: var(--color-4);
        }

        button:last-child,
        .on button:first-child {
            border: none;
            background: none;
            color: #808080;
        }

        .on .bar {
            transform: translate(0, -50%);
        }
    }

    .exit {
        color: var(--color-2);
        cursor: pointer;
        border: 4px solid var(--color-2);
        padding: 0.25rem 1.25rem;
        box-sizing: border-box;
    }

    .credit {
        position: absolute;
        bottom: 0.25rem;
        right: 0.5rem;
        font-size: 0.75rem;
        line-height: 1rem;
        text-align: end;
    }
}

.overlay {
    content: '';
    z-index: 8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-1-trans);
}